article, aside, details, figcaption, figure, footer, header, hgroup,
nav, section, summary {
    display: block
}

audio, canvas, video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden] {
    display: none
}

html {
    font-size: 100%;
    font-family: sans-serif;
    margin: 0;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

button, input, select, textarea {
    font-family: sans-serif
}

body {
    margin: 0
}

a {
    color: #08c;
    text-decoration: none
}

a:focus {
    outline: thin dotted
}

a:active, a:hover {
    outline: 0;
    color: #005580;
    text-decoration: underline
}

h1 {
    font-size: 2em
}

abbr[title] {
    border-bottom: 1px dotted
}

b, strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

mark {
    background: #ff0;
    color: #000
}

code, kbd, pre, samp {
    font-family: monospace, serif;
    font-size: 1em
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019"
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0;
    max-width: 100%;
    width: auto;
    height: auto;
    vertical-align: middle
}

.ie img {
    -ms-interpolation-mode: bicubic
}

#map_canvas img {
    max-width: none
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 0
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    vertical-align: middle
}

button, input {
    line-height: normal
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], input[disabled] {
    cursor: default
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

html, body {
    font: 14px/1.4 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Roboto", "Droid Sans", Helvetica, Arial, sans-serif;
    color: #333;
    background-color: #fff
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-weight: bold;
    line-height: 1;
    text-rendering: optimizelegibility
}

h1 {
    font-size: 36px;
    line-height: 40px
}

h2 {
    font-size: 30px;
    line-height: 40px
}

h3 {
    font-size: 24px;
    line-height: 40px
}

h4 {
    font-size: 18px;
    line-height: 20px
}

h5 {
    font-size: 14px;
    line-height: 20px
}

h6 {
    font-size: 12px;
    line-height: 20px
}

h1 small {
    font-size: 24px
}

h2 small {
    font-size: 18px
}

h3 small {
    font-size: 14px
}

h4 small {
    font-size: 14px
}

ul, ol {
    padding: 0;
    margin: 0 0 9px 25px
}

ul ul, ul ol, ol ol, ol ul {
    margin-bottom: 0
}

li {
    line-height: 18px
}

ul.unstyled, ol.unstyled {
    margin-left: 0;
    list-style: none
}

p {
    margin-top: 0
}

hr {
    margin: 18px 0;
    border: 0;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #FFF
}

label {
    display: block;
    margin-bottom: 5px
}

button, input {
    display: inline-block
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"],
input[type="datetime-local"], input[type="date"], input[type="month"],
input[type="time"], input[type="week"], input[type="number"], input[type="email"],
input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    color: inherit;
    display: inline-block;
    height: 22px;
    padding: 4px
}

input, textarea {
    width: 206px
}

textarea {
    height: auto
}

textarea, input[type="text"], input[type="password"], input[type="datetime"],
input[type="datetime-local"], input[type="date"], input[type="month"],
input[type="time"], input[type="week"], input[type="number"], input[type="email"],
input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    background-color: #FFF;
    border: 1px solid #AAA
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus,
input[type="datetime"]:focus, input[type="datetime-local"]:focus,
input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus,
input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus,
input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus,
input[type="color"]:focus {
    border-color: #777;
    outline: 0
}

input[type="radio"], input[type="checkbox"] {
    line-height: normal;
    cursor: pointer;
    margin-bottom: 2px
}

input[type="file"], input[type="image"], input[type="submit"],
input[type="reset"], input[type="button"], input[type="radio"],
input[type="checkbox"] {
    width: auto
}

select, input[type="file"] {
    height: 30px;
    line-height: 30px
}

select {
    width: 220px;
    border: 1px solid #999;
    background-color: #FFF
}

select[multiple], select[size] {
    height: auto
}

select:focus, input[type="file"]:focus, input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: thin dotted
}

input[disabled], select[disabled], textarea[disabled], input[readonly],
select[readonly], textarea[readonly] {
    cursor: not-allowed;
    background-color: #EEE
}

input[type="radio"][disabled], input[type="checkbox"][disabled],
input[type="radio"][readonly], input[type="checkbox"][readonly] {
    background-color: transparent
}

input:-moz-placeholder, textarea:-moz-placeholder {
    color: #999
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #999
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #999
}

.clr {
    clear: both;
    font-size: 1px !important;
    height: 1px !important
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0
}

.clearfix:after {
    clear: both
}

.FormRow {
    margin: 0 0 9px 0
}

.FormInline .FormRow {
    clear: both
}

.FormInline .FormRow label.label {
    float: left;
    width: 160px;
    text-align: right
}

.FormInline .FormRow .FormElement {
    margin-left: 180px
}

html, body {
    background-color: #FFF
}

a:hover {
    text-decoration: none
}

a:focus, a:active {
    outline: 0
}

button, input {
    font-family: "Helvetica Neue", "Roboto", "Droid Sans", Helvetica, Arial, sans-serif
}

span.field-validation-error {
    display: block;
    font-size: 12px;
    color: #f00;
    font-weight: bold
}

.Astrix {
    color: #f00;
    font-weight: bold;
    font-size: 12px;
    vertical-align: super
}

.ErrText {
    color: #f00;
    font-weight: bold
}

.SuccText {
    color: #6aa500;
    font-weight: bold
}

.GreenBtn, .BlueBtn, .OrangeBtn, .BarBtn, .GrayBtn {
    color: #fff;
    border: 0;
    border-radius: 4px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3)
}

.GreenBtn {
    background-color: #6aa500;
    background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#8fc82e), to(#6aa500));
    background-image: -webkit-linear-gradient(top, #8fc82e, #6aa500);
    background-image: -moz-linear-gradient(top, #8fc82e, #6aa500);
    background-image: -ms-linear-gradient(top, #8fc82e, #6aa500);
    background-image: -o-linear-gradient(top, #8fc82e, #6aa500)
}

.BlueBtn {
    background-color: #1c7ebd;
    background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#1c8dd7), to(#1c7ebd));
    background-image: -webkit-linear-gradient(top, #1c8dd7, #1c7ebd);
    background-image: -moz-linear-gradient(top, #1c8dd7, #1c7ebd);
    background-image: -ms-linear-gradient(top, #1c8dd7, #1c7ebd);
    background-image: -o-linear-gradient(top, #1c8dd7, #1c7ebd)
}

.OrangeBtn {
    background-color: #f87431;
    background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#f87431), to(#f87431));
    background-image: -webkit-linear-gradient(top, #f87431, #f87431);
    background-image: -moz-linear-gradient(top, #f87431, #f87431);
    background-image: -ms-linear-gradient(top, #f87431, #f87431);
    background-image: -o-linear-gradient(top, #f87431, #f87431)
}

.BarBtn {
    background-color: #1c7ebd;
    background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#2199eb), to(#1c7ebd));
    background-image: -webkit-linear-gradient(top, #2199eb, #1c7ebd);
    background-image: -moz-linear-gradient(top, #2199eb, #1c7ebd);
    background-image: -ms-linear-gradient(top, #2199eb, #1c7ebd);
    background-image: -o-linear-gradient(top, #2199eb, #1c7ebd);
    -webkit-box-shadow: 1px 1px 0 #5fbeff;
    box-shadow: 1px 1px 0 #5fbeff;
    padding: 0;
    height: 32px
}

a.BarBtn {
    display: inline-block;
    vertical-align: middle
}

.GrayBtn {
    color: #222;
    border: 1px solid #CCC;
    background-color: #f1f1f1;
    background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#f8f8f8), to(#ececec));
    background-image: -webkit-linear-gradient(top, #f8f8f8, #ececec);
    background-image: -moz-linear-gradient(top, #f8f8f8, #ececec);
    background-image: -ms-linear-gradient(top, #f8f8f8, #ececec);
    background-image: -o-linear-gradient(top, #f8f8f8, #ececec);
    box-shadow: none;
    text-shadow: 1px 1px 0 #FFF
}

.BarBtn span {
    display: inline-block;
    height: 32px;
    border-radius: 4px;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.4);
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.4)
}

.Container {
    min-height: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    background: #FFF
}

@media(min-width:801px){html, body {
        background: #f6f6f6
    }

    .Container {
        width: 640px;
        border: 1px solid #CCC;
        border-top: 0;
        border-bottom: 0
    }
}

@media(min-width:1025px){html, body {
        background: #f6f6f6
    }

    .Container {
        width: 800px;
        border: 1px solid #CCC;
        border-top: 0;
        border-bottom: 0
    }
}

.MainView {
    position: relative;
    left: 0
}

.ShowMenu .MainView {
    left: 200px
}

.MenuToggle {
    width: 36px
}

.MenuToggle span {
    width: 36px;
    background: transparent url(../img/Icons/Menu.png) no-repeat scroll center center
}

.MenuView {
    position: absolute;
    left: -200px;
    width: 200px;
    background-color: #333;
    min-height: 100%
}

.ShowMenu .MenuView {
    left: 0
}

.MenuViewInner {
    position: absolute;
    width: 100%
}

.MenuViewInner .MenuSep {
    margin-top: 20px
}

.MenuViewInner .Bottom {
    bottom: 0
}

ul.MenuNav, ul.MenuNav li {
    list-style-type: none;
    margin: 0
}

ul.MenuNav {
    padding: 20px;
    margin-right: 0
}

ul.MenuNav li {
    border-bottom: 1px solid #494949
}

ul.MenuNav li:last-child {
    border-bottom: 0
}

ul.MenuNav li a {
    display: block;
    font-size: 20px;
    line-height: 1em;
    padding: 10px 0 10px 0;
    color: #FFF
}

ul.MenuNav li a:hover {
    text-decoration: none
}

ul.MenuNav li a:focus {
    outline: 0
}

.UserInfo {
    color: #DDD;
    font-size: 15px;
    padding: 14px 20px 4px 48px;
    border-bottom: 1px solid #CCC;
    line-height: 1;
    min-height: 24px;
    position: relative
}

.UserInfo span {
    color: #FFF
}

.UserInfo a {
    position: absolute;
    left: 18px;
    top: 10px
}

.UserInfo .MenuToggle {
    width: auto
}

.Page .Header {
    position: relative;
    height: 42px;
    background-color: #1c7ebd;
    background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#1c8dd7), to(#1c7ebd));
    background-image: -webkit-linear-gradient(top, #1c8dd7, #1c7ebd);
    background-image: -moz-linear-gradient(top, #1c8dd7, #1c7ebd);
    background-image: -ms-linear-gradient(top, #1c8dd7, #1c7ebd);
    background-image: -o-linear-gradient(top, #1c8dd7, #1c7ebd);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3)
}

.Page .Header .LeftBarRegion {
    position: absolute;
    left: 8px;
    top: 4px
}

.Page .Header .RightBarRegion {
    position: absolute;
    right: 8px;
    top: 4px
}

.LeftBarRegion .BarBtn+.BarBtn {
    margin-right: 4px
}

.RightBarRegion .BarBtn+.BarBtn {
    margin-left: 4px
}

.Page .Header h1 {
    position: absolute;
    top: 10px;
    left: 50px;
    right: 50px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 23px;
    font-weight: normal;
    line-height: 1em;
    color: #FFF;
    background-color: transparent
}

.Page .Footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px
}

.Page .Content {
    padding-bottom: 40px
}

.Page.NoFooter .Content {
    padding-bottom: 0
}

.Page .BottomAction {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 24px;
    padding: 10px 4px 5px 4px;
    color: #FFF;
    font-size: 18px;
    line-height: 1em;
    text-align: center;
    border: 1px solid #8fc82e;
    background-color: #6aa500;
    background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#8fc82e), to(#6aa500));
    background-image: -webkit-linear-gradient(top, #8fc82e, #6aa500);
    background-image: -moz-linear-gradient(top, #8fc82e, #6aa500);
    background-image: -ms-linear-gradient(top, #8fc82e, #6aa500);
    background-image: -o-linear-gradient(top, #8fc82e, #6aa500);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    z-index: 10
}

@media(max-width:640px){.Page .BottomAction.KBDisplay {
        position: absolute
    }

    .Page .Header.KBDisplay {
        position: absolute
    }
}

@media only screen and (-webkit-min-device-pixel-ratio:2) {
    .Page .BottomAction.KBDisplay {
        position: absolute
    }

    .Page .Header.KBDisplay {
        position: absolute
    }
}

@media(min-width:801px){.Page .BottomAction {
        position: absolute
    }
}

@media(max-width:640px){.Page {
        padding-top: 42px
    }

    .ShowMenu .Page {
        padding-top: 0
    }

    .Page .Header {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 9
    }

    .ShowMenu .Page .Header {
        position: relative
    }
}

.Hide {
    display: none
}

.LoadingWrapper {
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    height: 100%
}

.LoadingWrapper .Overlay {
    position: absolute;
    left: 0;
    height: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #000;
    opacity: .7
}

.LoadingWrapper .Msg {
    position: fixed;
    width: 75px;
    height: 75px;
    border-radius: 8px;
    background: #293955 url(../img/Loader.gif) no-repeat scroll center center;
    z-index: 1001
}

.ErrorPage {
    padding: 20px
}

.PrevBtn {
    width: 32px
}

.PrevBtn span {
    width: 32px;
    background: transparent url(../img/Icons/LeftArw.png) no-repeat scroll center center
}

.PrevBtn.NoAct {
    display: none
}

.NextBtn {
    width: 32px
}

.NextBtn span {
    width: 32px;
    background: transparent url(../img/Icons/RightArw.png) no-repeat scroll center center
}

.RefreshBtn {
    width: 32px
}

.RefreshBtn span {
    width: 32px;
    background: transparent url(../img/Icons/Refresh.png) no-repeat scroll center center
}

.JoinInvite {
    height: 39px;
    background-color: #eee;
    border-top: 1px solid #999
}

.JoinInvite a {
    display: inline-block;
    width: 49%;
    height: 32px;
    padding-top: 7px;
    line-height: 1em;
    text-align: center;
    color: #333
}

.JoinInvite a img {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: transparent url(../img/Icons/NextRound.png) no-repeat scroll 0 0
}

.JoinInvite a span {
    display: inline-block;
    position: relative;
    top: 2px;
    left: 6px
}

.JoinInvite a:hover {
    background-color: #f3f3f3
}

.JoinInvite .Join {
    border-right: 1px solid #bbb
}

ul.FullList {
    margin: 0;
    padding: 0
}

ul.FullList li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-bottom: 1px solid #cdcdcd
}

ul.FullList li a {
    display: block;
    line-height: 1em;
    padding: .75em 60px .75em .5em;
    font-size: 18px;
    color: #333;
    background: transparent url(../img/Icons/NextRound.png) no-repeat scroll 98% center
}

.StaticContent {
    padding: 15px;
    color: #555
}

.StaticContent h4 {
    color: #454545;
    margin: 20px 0
}

ul.Num {
    margin: 0 0 1em 3.25em
}

ul.Num li {
    list-style-type: decimal;
    margin-bottom: .1em
}

.TextBtn span {
    height: 12px;
    line-height: 1em;
    padding: 9px 7px 11px 8px;
    text-align: center;
    text-transform: uppercase
}

#DlgOverlay {
    position: fixed;
    left: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
    background-color: #000;
    opacity: .7
}

